//Customize btns

// Variables

//btns dm
$btn-padding-y:         15px;
$btn-padding-x:         30px;
$btn-font-size:         16px;
$btn-border-radius:     0;

//btns lg
$btn-padding-y-lg:      22px;
$btn-padding-x-lg:      130px;
$btn-font-size-lg:      18px;
$btn-border-radius-lg:  50px;

$btn-font-family:       barlowbold, uppercase;

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled){
  outline: none;
}
