//Customize btns

// Variables
$btn-padding-y:         15px;
$btn-padding-x:         30px;
$btn-font-size:         16px;
$btn-border-radius:     0;
$btn-font-family:       barlowbold, uppercase;

//Propriedades do CMS
.btn, .wpcf7-submit{
  text-transform: uppercase;
}

button:not(:disabled),
[type="button"]:not(:disabled), 
[type="reset"]:not(:disabled), 
[type="submit"]:not(:disabled){
  outline: none;
}