// Cards elements
//

// Variables
$card-bg: $color-white;
$card-inner-border-radius: 0;
$card-border-radius: 0;


.card {
  &-img-top{
    height: 190px;
    object-fit: cover;
  }

  &-body{
    &__data{
      @include font-size(12px);
      color: $color-title;
      i{
        color: $primary;
      }
    }
  }
  &-title {
    @include font-size(18px);
    transition: .3s;
    color: $color-title;
    @include hover {
      color: $primary;
    }
  }
}
