// Cards elements
//

// Variables
$card-bg: $white;
$card-inner-border-radius: 0;
$card-border-radius: 0;
$card-border-width:  1px;
$card-border-color: $gray-200;


.card {
  &-img{
    height: 190px;
    object-fit: cover;
  }

  &-body{
    &__data{
      @include font-size(12px);
      color: $color-title;
      i{
        color: $primary;
      }
    }
  }

  &-category{
    color: $primary;
  }

  &-title {
    @include font-size(18px);
    transition: .3s;
    color: $color-title;
    @include hover {
      color: $primary;
    }
  }
}
