// Cards elements
//
.card {
  &-img-top{
    height: 190px;
    object-fit: cover;
  }

  &-body{
    &__data{
      font-size: 12px;
      color: $color-title;
      i{
        color: $primary;
      }
    }
  }
  &-title {
    font-size: 18px;
    transition: .3s;
    color: $color-title;
    @include hover {
      color: $primary;
    }
  }
}
