
.header{
  z-index: 999;
  top: 0;
}

//Slide
//

.carousel{
  &-thumbnail{
    height: 700px;
    object-fit: cover;
    @include media-breakpoint-down(sm) {
      height: 100vh;
    }
  }
  &-legend {
    bottom: 0;
    height: 700px;
    p {
      text-align: center;
      color: $white;
      margin: 0;
      font-size: 20px;
      line-height: 150%;
      z-index: 999;
      position: relative;
    }
    h2 {
      font-size: 64px;
      line-height: 120%;
      z-index: 999;
      strong{
        font-family: MuliBlack;
        color: $secondary;
      }
    }
    > div{
      z-index: 999;
      position: relative;
    }
  }

  .owl-carousel{
    .owl-nav {
      button{
      }
      .owl-prev{
        left: 2rem;
      }
      .owl-next{
        right: 2rem;
      }
    }

    .owl-dots{
      position: relative;
      bottom: 100px;
      z-index: 99;
      text-align: center;
      button{
        width: 45px;
        height: 2px;
        margin: 0 5px;
        background: $white;
        outline: none;
        transition: .3s;
      }
      button.active{
        background: $secondary;
        height: 4px;
      }
    }
  }

  &-none{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-200;
    h2{
      color: $gray-400;
    }
  }

  @include media-breakpoint-down(sm) {
    .carousel{
      &-legend{
        left: 0;
        height: 100vh;

        p{line-height: 22px;}

        h2{
          font-size: 26px;
          line-height: initial;
        }
        .btn{
          margin: 20px auto !important;
          height: 48px;
        }
      }
    }

    .owl-dots{
      bottom: 45px;
    }
  }
}

//Footer

.footer {
  &-brand{
    &__img{
      width: 155px;
    }
  }

  i{
    opacity: .2;
    font-size: 23px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  
  .phone{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    a{
      color: $white;
    }
    i{
      opacity: .2;
    }
    small{
      font-weight: bold;
      font-size: 14px;
      margin-right: 2px;
    }
  }

  .address{
    font-size: 17px;
    line-height: 130%;
    i{
      font-size: 32px;
    }
  }

  .social{
    i{
      font-size: 32px;
      color: $secondary;
      opacity: 1;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    .footer{
      &-brand{
        margin: 20px auto ;
      }
    }

    i{
      margin-left: 17px;
    }

    .phone,
    .address,
    .social{
      margin: 20px 0;
    }
    .social{
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
}