
.header{
  z-index: 999;
}

//Slide

.carousel{
  .owl-nav {
    button{
      top: 6rem;
      i{
        font-size: 3rem !important;
      }
    }
    .owl-prev, .owl-next{
      background: none !important;
    }
  }
}

.carousel--thumbnail{
  height: 750px;
  max-height: 100vh;
  object-fit: cover;
  @include media-breakpoint-down(sm) {
    height: 100vh;
  }
}
.carousel--legend {
  position: absolute;
  width: 460px;
  max-width: 100%;
  bottom: 0;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .carousel--legend__title {
    line-height: 120%;
    text-transform: uppercase;
    color: $white;
    font-family: latoregular, sans-serif;
  }
  p {
    color: $white;
  }
}


//Footer

.footer {
  h6 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@include media-breakpoint-down(sm) {
  .area-banner{
    .banner{
      .item{
        height: 400px;
        .legenda{
          left: 0;
          padding: 0 .2rem;
          bottom: 1rem !important;
          p{
            text-align: center;
            font-size: 1.1rem;
            line-height: 1.2rem;
          }
        }
      }
    }
  }

  .footer{
    .assinatura{
      display: inherit;
    }
  }
}