@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/font-text/Roboto-Medium.eot');
  src: url('../font/font-text/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/font-text/Roboto-Medium.woff') format('woff'),
  url('../font/font-text/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}