@font-face {
  font-family: 'barlowblack';
  src: url('#{$fonts-path}barlow-black.woff2') format('woff2'),
       url('#{$fonts-path}barlow-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowextrabold';
  src: url('#{$fonts-path}barlow-extrabold.woff2') format('woff2'),
       url('#{$fonts-path}barlow-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowbold';
  src: url('#{$fonts-path}barlow-bold.woff2') format('woff2'),
       url('#{$fonts-path}barlow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowsemibold';
  src: url('#{$fonts-path}barlow-semibold.woff2') format('woff2'),
       url('#{$fonts-path}barlow-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowmedium';
  src: url('#{$fonts-path}barlow-medium.woff2') format('woff2'),
       url('#{$fonts-path}barlow-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url('#{$fonts-path}barlow-regular.woff2') format('woff2'),
       url('#{$fonts-path}barlow-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowlight';
  src: url('#{$fonts-path}barlow-light.woff2') format('woff2'),
       url('#{$fonts-path}barlow-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowextralight';
  src: url('#{$fonts-path}barlow-extralight.woff2') format('woff2'),
       url('#{$fonts-path}barlow-extralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowthin';
  src: url('#{$fonts-path}barlow-thin.woff2') format('woff2'),
       url('#{$fonts-path}barlow-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('#{$fonts-path}lato-regular.woff2') format('woff2'),
       url('#{$fonts-path}lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
