//Footer
//

footer {
  &-brand{
    img{
      width: 155px;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    .footer{
      &-brand{
        margin: 20px auto ;
      }
    }

    i{
      margin: 0 10px;
    }
  }
}
