//Contact Form 7 / Form bootstrap
//


// Variables
$input-font-size: 14px;
$input-bg:  $light;
$input-color: $dark;
$input-border-radius: 0 ;
$input-focus-box-shadow: none;
$input-focus-border-color: $dark;
$input-height: 45px;
$input-padding-x: 15px;

.form{
    &-group{
        label{
            width: 100%;
            text-transform: uppercase;
            @include font-size(10px);
        }
        br{
            display: none;
        }
    }
}