* {
  font-family: latoregular, sans-serif;
}

a {
  color: $primary-color;
  &:hover {
    text-decoration: none;
  }
}
p{
  font-size: 17px;
  line-height: 150%;
  font-family: latoregular;
}

.text-primary{
  color: $primary-color;
}
.text-secondary{
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6{
  font-family: barlowextrabold;
}
h2{
  color: $primary-color;
}

.title{
  color: $color-title;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  font-family: barlowextrabold;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 38px;
    line-height: 43px;
  }
}

.sub-title{
  font-size: 32px;
  line-height: 44px;
  color: $primary-color;
  font-family: damionregular;
}

//Wordpress Elemtns
//
.gallery{
  clear: both;
  text-align: center;
  margin: 40px 0 !important;

  .gallery-item{
    width: 18.4% !important;
    margin: 0.5% 0.63%;
    float: inherit !important;
    display: inline-table;
    img{
      width: 100%;
      border: 0 !important;
      height: 80px;
      object-fit: cover;
    }
    .gallery-caption{
      margin-left: 0;
      font-size: .8rem;
      margin-top: .5rem;
    }
  }
  @include media-breakpoint-down(sm) {
    .gallery-item{
      width: 48%!important;
      img{
        height: auto !important;
      }
    }
  }
}

//Contact Form 7 / Form bootstrap
//

.wpcf7-textarea,
.wpcf7-select,
.form-control,
.wpcf7-text,
.wpcf7-date
{
  height: 40px;
  background: $gray-200;
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  color: $color-title;
  font-size: 18px;
  line-height: 160%;
  &:focus{
    box-shadow: none;
    outline: 0;
    background: none;
    border: solid 2px #F5F5F5;
  }

  &.g-recaptcha{
    background: no-repeat !important;
    border: none !important;
    padding: 0;
    margin: 0;
    height: 83px;
    justify-content: center;
    display: flex;
  }
}

.file-form{
  height: 40px;
  border-bottom: solid 1px $primary-color;
  pointer-events: none;
  position: relative;
  bottom: 37px;

  &__input{

    width: 80px;
    height: 30px;
    border: solid 1px $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: auto;
  }

  br{display: none;}

  i{
    margin: 0 3px 3px 0;
    font-size: 12px;
  }
}

.wpcf7-form{
  label{
    width: 100%;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.05em;
  }
}
textarea.form-control, textarea.wpcf7-form-control{
  height: 90px;
}
textarea.wpcf7-form-control{
  position: relative;
  padding: .5rem 0 0 1rem;
}

div.wpcf7{
  input[type=file]{
    height: 40px;
    width: 100%;
    background: #F5F5F5;
    padding: .6rem;
  }
}
//Messages Contact form 7
div.wpcf7-mail-sent-ok{
  background: #84e7e7 !important;
  border: none !important;
  padding: 1rem !important;
  border-radius: .5rem !important;
  text-align: center !important;
}
div.wpcf7-validation-errors{
  border: none !important;
  padding: 1rem !important;
  border-radius: .5rem;
  text-align: center;
  background: #faf5b4;
}

//Owl Carousel
 .carousel-inner{
   overflow: initial;
 }
.owl-stage-outer{
  z-index: 99;
}
.owl-carousel {
  .owl-nav{
    width: 100%;
    top: 0 !important;
    position: absolute;
    bottom: inherit;
    align-items: center;
    justify-content: center;
    display: flex !important;
    height: 100%;
    button{
      position: absolute;
      outline: none;
      i{
        color: #c8c8c3;
        font-size: 1.8rem;
      }
      &:hover, &:active, &:visited{
        i{
          color: #50504f;
        }
      }
    }
    .owl-prev{
      left: -1rem;
    }
    .owl-next{
      right: -1rem;
    }
  }
}
//Owl anima
.owl-anima{
  .owl-nav{
    top: 0 !important;
    width: 100%;
    position: absolute;
    button{
      position: absolute;
      i{
        color: $white;
        font-size: 2rem;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .owl-nav{
      top: 7rem!important;
    }
  }
}
