//NavBar Elements
//

// Variables
// Navbar
$navbar-padding-y:          10px;
$navbar-light-color:        $white;
$navbar-light-hover-color:  $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: $black;
$navbar-light-font-size:    16px;
$navbar-nav-link-padding-x: 10px;

// Nav Dropdowns
$dropdown-link-color:       $color-title;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg:    $primary;
$dropdown-font-size:        13px;
$dropdown-padding-y:        0;
$dropdown-item-padding-y:   15px;

$navbar-toggler-border-radius: 0;
$navbar-light-toggler-border-color: $dark;


.header{
  z-index: 999;
  top: 0;
}


.navbar .nav{
  &-link{
    font-size: $navbar-light-font-size;
  }

  &-item{
    .dropdown-menu{
      a{
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &-toggler{
    @include flex-center;
    flex-direction: column;
    outline: none !important;

    .navbar-icon{
      width: 40px;
      height: 3px;
      background: $white;
      margin: 3.5px 0;
      transition: .3s;
    }

    &[aria-expanded="true"]{
      .navbar-icon{
        position: relative;
        &:nth-child(1){
          transform:
          rotate(45deg); top: 10px;
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          top: -10px;
        }
      }
    }
  }

  .anchor{
    a{
      color: $white !important;
      &:hover{
        color: $primary !important;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar{
      justify-content: center;
      &-brand{
        &__img{
          width: 100px;
        }
      }
    }
    .dropdown-menu{
      width: 100%;
      text-align: center;
    }
    text-align: center;
  }
}
