
// SASS custom mixins
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  @include flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin before-default() {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

@mixin fontSizeParagraphAndList(){
  @include font-size(17px);
  line-height: 150%;
}
