//NavBar Elements
//

//Nav Modal
.modal-backdrop{
  display: none;
}

//initi navbar
.navbar {

  //corrent Nav Modal
  .modal-button{
    outline: none;
    font-size: 26px;
    color: $dark;
    background: #e9e9e9;
    width: 40px;
    height: 38px;
  }

  .modal-content{
    color: #fff;
    background: $dark;
  }
  .modal-header{
    border-bottom: 2px solid #1b1210;
  }
  button.close{
    opacity: 1;
    span{
      font-size: 34px;
      color: #fff;
      opacity: 1;
    }
  }

  .modal-body{
    ul{
      list-style: none;
      padding: 0;
      text-align: center;
      font-size: 20px;
      font-family: barlowextrabold;
    }
    a{
      color: #fff;
      font-family: barlowextrabold;
      width: 100%;
      line-height: 25px;
      margin: 10px 0;
    }
  }

  //Menu
  .navbar-nav{
    .active>{
      .nav-link{
        color: $primary-color;
      }
    }
  }
  .nav-item{
    .nav-link{
      color: $white;
      text-transform: uppercase;
      font-size: 13px;
      &:hover, &:focus, &:active{
        color: $primary-color;
      }
    }
    .dropdown-menu{
      right: 0;
      left: inherit;
      padding: 0;
      border-radius: 0;
      li{
        width: 218px;
      }
      a{
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        padding: .7rem;
        &:hover{
          background: $primary-color;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar-nav{
      justify-content: center;
      .nav-link{
        padding: 1rem 0;
        &:hover{
          background: $primary-color;
          color: $white;
        }
      }
    }
    .navbar-brand{
      .navbar-brand--img{
        width: 100px;
      }
    }
    .dropdown-menu{
      width: 100%;
      margin: -.6rem 0 0 0 !important;
      text-align: center;
    }
    text-align: center;
  }
}