//NavBar Elements
//

// Variables
// Navbar
$navbar-light-color:        $color-white;
$navbar-light-hover-color:  $primary;
$navbar-light-active-color: $primary;
$navbar-light-font-size:    16px;

// Nav Dropdowns
$dropdown-link-color:       $color-title;
$dropdown-link-hover-color: $color-white;
$dropdown-link-hover-bg:    $primary;
$dropdown-font-size:        13px;
$dropdown-padding-y:        0;
$dropdown-item-padding-y:   15px;


//Navbar
.navbar {
  .nav{
    &-link{
      font-size: $navbar-light-font-size;
    }

    &-item{
      .dropdown-menu{
        a{
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar{
      justify-content: center;
      &-brand{
        &__img{
          width: 100px;
        }
      }
    }
    .dropdown-menu{
      width: 100%;
      text-align: center;
    }
    text-align: center;
  }
}