//NavBar Elements
//

// Variables
// Navbar
$navbar-light-color:        $color-white;
$navbar-light-hover-color:  $primary;
$navbar-light-active-color: $primary;
$navbar-light-font-size:    16px;

// Nav Dropdowns
$dropdown-link-color:       $color-title;
$dropdown-link-hover-color: $color-white;
$dropdown-link-hover-bg:    $primary;
$dropdown-border-radius:    0;
$dropdown-font-size:        13px;
$dropdown-padding-y:        0;

//Nav Modal
$modal-header-border-color:  $gray-600;


//Navbar
.navbar {
  .nav{
    &-link{
      font-size: $navbar-light-font-size;
    }

    &-item{
      .dropdown-menu{
        a{
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar{
      justify-content: center;
      &-brand{
        &__img{
          width: 100px;
        }
      }
    }
    .dropdown-menu{
      width: 100%;
      text-align: center;
    }
    text-align: center;
  }

  //corrent Nav Modal
  .modal{
    button.close{
      opacity: 1;
      padding: 6px 28px 0 0;
      span{
        @include font-size (45px);
        color: $white;
        opacity: 1;
      }
    }

    &-body{
      ul{
        list-style: none;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: barlowextrabold, sans-serif;
      }
      .nav-item{
        .nav-link{
          width: 100%;
          line-height: 25px;
          margin: 10px 0;
          font-size: 17px;
          color: $color-white;
        }
      }
    }
  }
}

.modal{
  &-backdrop{
    display: none;
  }
}