//Single pages
//

.page{
  &-area{
    margin-top: 125px;
    ul{
      list-style: none;
      li{
        @include fontSizeParagraphAndList;
        position: relative;
        margin: 1rem 0;
        &:before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          left: -16px;
          top: 7px;
          border-radius: 8px;
          background: $primary;
        }
      }
    }
  }

  &-seach{
    position: relative;
    form{
      > div{
        display: flex;
      }
      .screen-reader-text{
        display: none;
      }
      input{
        width: 100%;
        height: 49px;
        border-radius: 5px;
        background: $white;
        padding-left: 24px;
      }
      #searchsubmit{
        position: absolute;
        right: 0;
        width: 55px;
        height: 50px;
        background: transparent;
        outline: none;
        i{
          color: #1D2C36;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  &-area{
    margin-top: 60px;
  }
}

//Thumb single page
.single-thumbnail{
  width: 100%;
  object-fit: cover;
}

.alignright, .alignleft{
  padding: 0;
  object-fit: cover;
}

.aligncenter{
  margin: auto;
  display: block;
}

.alignright{
  float: right;
  margin: 1rem 0 1rem 2rem;
}
.alignleft{
  float: left;
  margin: 1rem 2rem  1rem 0;
}


.categories-carte{

  &__category{
    color: $primary;
    font-family: barlowextrabold, sans-serif;
    @include font-size(18px);
    text-transform: uppercase;
  }

  &__post{
    .post_thumbnail{
      width: 175px;
      height: 110px;
      object-fit: cover;
      margin-right: 15px;
    }

    h6,
    .price{
      font-family: barlowregular, sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      @include font-size(17px);
    }
  }
}

.hr-carte{
  margin: 50px 0 100px 0;
}

//Tab blog
.tab-blog {
  .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;

    li {
      &:before {
        display: none;
      }

      a {
        color: #343434;
        font-size: 18px;
        text-transform: uppercase;
        font-family: barlowlight, sans-serif;
        padding: 0 15px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        margin: 0 22px;
        background: #EDEDED;

        &.active {
          background: $white;
        }
      }
    }
  }

  .card-tag a {
    position: absolute;
    height: 20px;
    background: $primary;
    border-radius: 2px;
    @include font-size(12px);
    color: $white;
    text-align: center;
    line-height: 20px;
    top: 15px;
    font-family: barlowbold, sans-serif;
    text-transform: uppercase;
    padding: 0 8px;
  }

.blog .card-body{
    flex: auto;
}


.blog-img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

    .blog .card{
        flex-direction: column;
        border-radius: 10px;
        height: 320px;
    }

    .blog-img-box{
        filter: grayscale(1);
        opacity: .1;
    }
}


// Accordion post type

.post-accordion {
  .card {
    cursor: pointer;
    border: 0;

    &-header {
      padding: 0;
      border: 0;

      a {
        padding: 1rem 30px;
        text-transform: uppercase;
        height: 50px;
        color: $primary;
        display: flex;
        justify-content: space-between;

        i {
          color: $primary;
          transition: .3s;
          font-size: 20px;
        }
      }

      a[aria-expanded="true"] {
        background-color: $primary;
        border: solid 1px $primary;
        color: $white;

        i {
          color: $white;
          transform: rotate(180deg);
        }
      }
    }
    &-body {
      padding: 45px;
      border: solid 1px $primary;

      ul li {
        list-style: none;
        line-height: 22px;
        border-bottom: solid 1px #E8E8E8;
        padding: 15px 0 15px 45px;
        @include font-size(14px);
      }
    }
  }
}

@media all and (max-width: 768px) {
  .post-accordion .card-body {
    padding: 15px;

    ul li {
      padding: 13px;
    }
  }
}
