//pagination
//

.page-numbers{
    width: 26px;
    background: $light;
    color: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.current{
        background: $primary;
        color: $white;
    }
}


.prev.page-numbers,
.next.page-numbers{
    padding: 10px;
    @include font-size(10px);
    text-transform: uppercase;
    display: unset;
    background: none;
}
