//box Cont
.wrap{
  padding: 70px 0;

  .content-box{
    position: relative;
    z-index: 2;
  }
  .content-area{
    ul{
      list-style: none;
      li{
        position: relative;
        font-size: 1.1rem;
        margin: 0.4rem 0;
        &:before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          left: -16px;
          top: 7px;
          border-radius: 8px;
          background: $secondary-color;
        }
      }
    }
  }
  #map{
    height: 341px;
    border-top: solid 3px #ccc;
    margin-top: -5rem;
  }
}

//Thum single page
.single-thumbnail{
  width: 100%;
  height: 380px;
  object-fit: cover;
}



.alignright, .alignleft{
  border: solid 5px #fff;
  max-width: 430px;
  height: 350px;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  object-fit: cover;

}

.alignright{
  float: right;
  margin: 1rem 0 1rem 2rem;
}
.alignleft{
  float: left;
  margin: 1rem 2rem  1rem 0;
}


@include media-breakpoint-down(sm) {
  .wrap{
    padding-top: 70px;
  }
  .single-thumbnail{
    height: 300px;
  }
}


.category-carte{

  &__category{
    color: $primary-color;
    font-family: barlowextrabold;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__post{
    .post_thumbnail{
      width: 175px;
      height: 110px;
      object-fit: cover;
      margin-right: 15px;
    }

    h6,
    .price{
      font-family: latoregular;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 17px;
    }
  }
}

.hr-carte{
  margin: 50px 0 100px 0;
}

//Tab blog
.tab-blog {
  .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;

    li {
      &:before {
        display: none;
      }

      a {
        color: #343434;
        font-size: 18px;
        text-transform: uppercase;
        font-family: Gotham-Light;
        padding: 0 15px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        margin: 0 22px;
        background: #EDEDED;

        &.active {
          background: #fff;
        }
      }
    }
  }

  .card-tag a {
    position: absolute;
    height: 20px;
    background: var(--primary-color);
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    top: 15px;
    font-family: Gotham-Bold;
    text-transform: uppercase;
    padding: 0 8px;
  }

.blog .card-body{
    flex: auto;
}


.blog-img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

    .blog .card{
        flex-direction: column;
        border-radius: 10px;
        height: 320px;
    }

    .blog-img-box{
        filter: grayscale(1);
        opacity: .1;
    }
}