//box Cont
.internal-page{

  .box-container{
    position: relative;
    z-index: 2;
  }
  .featurette{
    ul{
      list-style: none;
      li{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          left: -16px;
          top: 7px;
          border-radius: 8px;
          background: $secondary-color;
        }
      }
    }
  }
  #map{
    height: 341px;
    border-top: solid 3px #ccc;
    margin-top: -5rem;
  }
}