//Text Elements
//

// variables
$body-color:                $color-title;
$paragraph-margin-bottom:   2rem;

$link-color:                $primary;
$link-hover-color:          $secondary;
$link-hover-decoration:     none;

*{font-family: barlowregular, sans-serif;}

  p{
    @include font-size(17px);
    line-height: 150%;
    strong, b{
      font-family: barlowbold, sans-serif;
    }
  }

  h1, h2, h3, h4, h5, h6{
    font-family: barlowbold, sans-serif;
  }
  h2{
    color: $primary;
  }

  .title{
    color: $color-title;
    @include font-size(48px);
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      font-size: 38px;
      line-height: 43px;
    }
  }

  .subtitle{
    @include font-size(32px);
    line-height: 44px;
    color: $primary;
  }

  .img-off{
    filter: saturate(0);
    opacity: .5;
  }

  .wp-caption-text{
    @include font-size(12px);
    line-height: inherit;
    padding: 2px 7px;
  }
