//Customizar cores
$primary: #1CCAF4;
$secondary: #1BDC68;
$color-white: #fff;
$color-green: #1BDC68;
$color-title: #585A5B !default;

//ootstrap colors
$theme-colors:(
        "primary-color": $primary,
        "secondary-color": $secondary,
);


//Customizar spacing
$spacing-section: 100px 0;