//Variables
//

//Customizar cores
$primary: #1CCAF4;
$secondary: #1BDC68;
$color-green: #1BDC68;
$color-title: #585A5B;

//Bootstrap colors
$theme-colors:(
        "primary-color": $primary,
        "secondary-color": $secondary,
);

//Urls Assets
$fonts-path: "../fonts/" !default;
