//Customizar cores
$primary: #1CCAF4;
$secondary: #1BDC68;
$color-white: #fff;
$color-green: #1BDC68;
$color-title: #585A5B !default;

//ootstrap colors
$theme-colors:(
        "primary-color": $primary,
        "secondary-color": $secondary,
);


//Navbar
//
//Items
$navbar-light-color: $color-white;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-font-size: 16px;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-link-color: $color-title;
$dropdown-link-hover-color: $color-white;
$dropdown-link-hover-bg: $primary;
$dropdown-border-radius: 0;
$dropdown-font-size: 13px;

  // Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


