// import styles
//


// Bootstrap Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// fancybox
@import "node_modules/fancybox/dist/scss/jquery.fancybox";

// Owl carousel
@import "node_modules/owl.carousel/src/scss/owl.carousel.scss";

// Variables
@import "library/variables";


// Mixins
@import "library/mixins";

// Components
@import "../../components/Showcase/style";
@import "library/header";
@import "library/home";
@import "library/pages";
@import "library/buttons";
@import "library/general";
@import "library/fonts";
@import "library/cards";
@import "library/forms";
@import "library/sections";
@import "library/text";
@import "library/footer";

// Generald Required
@import "node_modules/bootstrap/scss/bootstrap";
